body {
  text-align: center;
  width: 99%;
  height: 100%;
  padding-bottom: 200px;
  background-color: #DDDDDD;
}

#clock {
  height: 100px;
  width: 10%;
  line-height: 100px;
  font-size: 200%; 
  margin: auto;
  padding: 0 50px;
  background: rgb(23, 116, 122);
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
}

// Grid
.grid-container {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto 2em 2em 2em 2em;
}
#calcTitle {
  grid-column: 1/5;
  grid-row: 1/1;
}

#calcOutput {
  grid-column: 1/5;
  grid-row: 2/2;
}

#calc7 {
  grid-row: 3/3;
  grid-column: 1/1;
}

#calc8 {
  grid-row: 3/3;
  grid-column: 2/2;
}

#calc9 {
  grid-row: 3/3;
  grid-column: 3/3;
}

#calcDiv {
  grid-row: 3/3;
  grid-column: 4/4;
}

#calculator {
  width: 25%;
  border: 1px solid black;
  border-radius: 10%;
  padding: 20px;
  padding-top: 0px;
  margin: auto;
}

#calcOutput {
  margin-bottom: 7px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

#task5Header {
  margin-top: 100px;
}

#rps-game {
  margin: auto;
}

#player {
  display: inline-block;
  margin-right: 100px;
}

#result {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cpuShake {
  transform: scaleX(-1);
}

#playerRock, #playerScissor, #playerPaper {
  cursor: pointer;
}

